/*
 * Page related
 */
.dropdown-class{
	background-color: green;
}
body {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #fafafa;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Example */
.an-example{

}
.an-example:before {
	margin: 0 auto;
	content: "Example";
	position: relative;
	top: 0px;
	padding: 3px 7px;
	font-size: 18px;
	font-weight: bold;
	color: #9da0a4;
}
.an-example .an-result{
	position: relative;
	margin-top: 10px;
	margin-bottom: -1px;
	z-index: 5;
}
.an-example .an-code{
	border: 0px solid #ffffff;
	border-radius: 0px;
}
.well{
	padding: 12px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.25);
}